body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

figure,div,a {
  margin: 0px;
}

.container {
  width: 100%;
  margin: 0px 120px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.header {
  display: flex;
  height: 60px;
  color: white;
  background: rgb(255, 171, 35);
  background: radial-gradient(
    circle,
    rgba(255, 171, 35, 1) 0%,
    rgba(252, 91, 70, 1) 97%
  );
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
}

.header__logo {
  display: inherit;
}

.header__logo > img {
  height: 40px;
  width: 200px;
}

.header__menu {
  display: inherit;
}

.header__menu ol li {
  height: inherit;
}

.header__menu a {
  display: flex;
  align-items: center;
  color: white;
  height: inherit;
  text-decoration: none;
  padding: 0 15px;
  height: 60px;
}

.header__link--active:hover{
    background-color: red;
}

.hero{
    display: flex;
    background-color: rebeccapurple;
    justify-content: space-around;
}